head
    meta(charset="utf-8")
    title Airies
    style 
        include ../../static/styles/style.css 
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet")
    link(rel="icon", href="./images/pinwheel.png")
