html
  include includes/head.pug 
  body
    include includes/header.pug
    div 
        h2 Models
        form(action="") 
            input(
                type='text'
                name='search_model'
                placeholder='Search model'
            )