html
  include includes/head.pug 
  body
    include includes/header.pug
    img(src="./images/pinwheel.png", alt="" id="pinwheel")
    form(action="/yourmodels") 
     button Start Exploring

    
include includes/footer.pug