html
  include includes/head.pug 
  body
    include includes/header.pug
    div.choosemodel
        h2 Models
        form(action="/shoe" method="POST") 
            input(type="text" placeholder="Search model")
            div.overflowmodels
              each val in allModels
               label(for=val)
                 input(type="checkbox" name='chosenModels' id=val value=val)
                 =val
            input(type="submit" value="Continue")