html
  include includes/head.pug 
  body
    include includes/header.pug 
    main
      each s in myLikes
        div.mylikescardpaartjes
          .superliketrash
            span.fas.fa-star
            span.fas.fa-copy
            span.fas.fa-trash
          img(src=s.image, alt=s.name)
          div
           h3=s.name
           p=s.pid
    include includes/footer.pug