html
each val in shoe
  include includes/head.pug 
  body
    include includes/header.pug
    div.shoecard
        h2= name
        p Color
        p BLACK/VOLT-SUMMIT WHITE
        img(src=shoe.image)
        div
            div
                p Style 
                p #{shoe.pid}

            div
                p Year 
                p #{shoe.releaseDate}

    form(class="likebuttons" action="")
        button &#128465; 
        button &#128293;

    
include includes/footer.pug